@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@,100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins',sans-serif;
}

/*Navigationbar*/
/*logo*/
nav{
    flex-direction: row;

}  
nav img{
    width: 70px;
    cursor: pointer;
    margin-left: 0.5px;
}
  .menu-bar {
    background-color: #fff;
    box-sizing: border-box;
   
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    position: fixed;
  }
  .menu-bar ul {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    margin-left: 30px;
    
    position: relative;
    padding: 10px 20px;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: rgb(9, 82, 57);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color:  rgb(114, 223, 183);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .menu-bar ul li .btn1{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    background-color: rgb(23, 71, 55);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}
.menu-bar ul li  .btn1:hover{
    color: rgb(23, 71, 55);
    background-color: #fff;
}

.menu-bar ul li a:hover{
    color: rgb(43, 48, 47);
}

/*home*/

/*home*/
#home{
    background-image: linear-gradient(rgba(39, 40, 39, 0.3), rgba(118, 122, 118, 0.634)),url("bird.gif");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 40px;

}
#discription{
    margin-top: 25px;
    text-align: center;
}
#discription h2{
    color: rgb(26, 100, 75);;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 30px;
}
#discription p{
    color: rgb(13, 27, 22);
    font-size: 1.1rem;
    margin-top: 15px;
}

/*about*/
.text{
    display: flex;
    margin-top: 55px;
    background-color: #fff;
    width: 100%;
    height: 60%;
    backdrop-filter:blur(1px); 
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
}
.text-img{
    padding: 25px;
    
}
.text-new{
    justify-content: flex-start;
    
}
.text-new p{
    color: rgb(13, 27, 22);
    font-size: 1.1rem;
    margin-top: 45px;
    margin-left: 60px;
    text-align: justify;}
.text-new h2{
    color: rgb(26, 100, 75);;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
    margin-left: 10%;

}
.text-new h3{
    font-size: 1.3rem;
    margin-left: 50px;
    color: rgb(66, 74, 72);
    margin-top: 5px;
    padding: 10px;
   /* margin-left: 150px;*/
    text-align: justify;}


/*pandas specification*/
#about-container{
    display: flex;
    align-items: center;
    padding: 6vw 6vw 2vw 6vw;
}
#about-container .about-image{
    width: 80%;
    height: 40%;
}
#about-container .about-text{
    width: 80%;
    padding: 0.02px;
    
}
#about-container .about-text h2{
    color: rgb(26, 100, 75);;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
}
#about-container .about-text p{
    color: rgb(13, 27, 22);
    font-size: 1.1rem;
    margin-top: 15px;
    text-align: justify;
}
#about-container .about-text .btn{
    /* margin-top: 10px;*/
     text-decoration: none;
     font-size: 0.9rem;
     padding: 10px 35px;
     background-color: rgb(23, 71, 55);
     color: #fff;
     font-weight: 300;
     border-radius: 10px;
     position:absolute;
     margin-left: 1px;
     margin-top: 20px;
     /*display: inline-block;*/
 }
 #about-container .about-text .btn:hover{
     color: rgb(23, 71, 55);
     background-color: #fff;
 }


/*Gallery*/
.img-gallery h2{
    color: rgb(26, 100, 75);
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 55px;
    text-align: center;
}
.gallery{
    margin: 45px;
    float: left;
    width: 280px;
}
.gallery img{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.desc{
    padding: 15px;
    text-align: center;
}
.desc h3{
    font-size: 1.3rem;
    color: rgb(66, 74, 72);
    margin-top: 5px;
    padding: 13px 0 7px 0;
    text-align: center;
    
}

.desc a{
    text-decoration: none;
}

/*text*/
.example{
    margin-top: 30px;
}
.example h2{
    color: rgb(26, 100, 75);
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 80px;
    text-align: center;
}
.example h3{
    font-size: 1.3rem;
    color: rgb(66, 74, 72);
    margin-top: 5px;
    padding: 13px 0 7px 0;
    text-align: center;
}
.example p{
    color: rgb(13, 27, 22);
    font-size: 1.1rem;
    margin: 45px;
    text-align: center;
}

/*footer*/
footer{
    width: 100%;
    position: absolute;
    bottom:auto;
    background: #163427d3;
    color: #fff;
    padding:100px 0 30px ;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
  
  }
  .row{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
  }
  .col{
    flex-basis: 25%;
    padding: 10px;
  }
  
  footer h2{
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  footer p{
    font-size: 1.0rem;
   
  }
  .col h3{
    width:fit-content ;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.3rem;
   
  }
  .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  ul p{
    list-style: none;
    margin-bottom: 12px;
  }
  .col p a{
    text-decoration: none;
    color: #fff;
    font-size: 1.0rem;
  
    
  }
  form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  form .fa{
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
  }
  form input{
    width: 100%;
    background: transparent;
    color: #777;
    border: 0;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;
  }
  form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .copy{
    text-align: center;
    margin-top: 15px;
  }
