@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@,100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins',sans-serif;
}
/*logo*/
nav{
    flex-direction: row;

}  
nav img{
    width: 70px;
    cursor: pointer;
    margin-left: 0.5px;
}
  .menu-bar {
    background-color: #fff;
    box-sizing: border-box;
   
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    position: fixed;
  }
  .menu-bar ul {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    margin-left: 30px;
    
    position: relative;
    padding: 10px 20px;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: rgb(9, 82, 57);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color:  rgb(114, 223, 183);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .menu-bar ul li .btn1{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    background-color: rgb(23, 71, 55);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}
.menu-bar ul li  .btn1:hover{
    color: rgb(23, 71, 55);
    background-color: #fff;
}

.menu-bar ul li a:hover{
    color: rgb(43, 48, 47);
}


/* Home */
#home{
    background-image: linear-gradient(rgba(84, 87, 84, 0.3), rgba(64, 64, 64, 0.634)),url("zoo.gif");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 40px;

}

#title h2{
    text-align: center;
    margin-top: 30px;
    color: rgb(26, 100, 75);;
    font-size: 2.4rem;
    letter-spacing: 1px;
}

#title h3{
  font-size: 1.1rem;
    color: rgb(182, 43, 61);
    margin-top: 15px;
    padding: 13px 0 7px 0;
    text-align: center;
}
#title .btn{
  margin-top: 10px;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 10px 35px;
  background-color:rgb(23, 71, 55);
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
 
  position: absolute;
  margin-left: 680px;
}
#title .btn:hover{
  color: rgb(23, 71, 55);
  background-color: #fff;
}

/*event*/
.container{
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.item-container{
    position: relative;
    margin: 24px;
    width: 320px;
    height: 500px;
    overflow: hidden;
    background-color: #e7e8e5;
    box-shadow: 0 0 30px 5px rgba(12, 11, 11, 0.15);
    cursor: pointer;
}
.img-container,.body-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-container img{
    width: 100%;
}
.body-container{
    position: relative;
}
.overlay{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(246, 252, 248, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}
.item-container:hover .overlay{
    opacity: 1;
    height: 150px;

}
.event-info{
    background-color: #e7e8e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.title{
    color: rgb(51, 89, 77);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
    text-align: center;
}
.info{
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}
.separator{
    width: 50%;
    height: 6px;
    background-color: rgb(79, 85, 83);
    margin-bottom: 16px;
}
.additional-info{
    border-top: 1px solid #bbb;
    margin-left: 12px;
    padding: 28px;
    padding-bottom: 0;
}
/*footer*/
footer{
  width: 100%;
  position: absolute;
  bottom:auto;
  background: #163427d3;
  color: #fff;
  padding:100px 0 30px ;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;

}
.row{
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}

footer h2{
  margin-top: 10px;
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
footer p{
  font-size: 1.0rem;
 
}
.col h3{
  width:fit-content ;
  margin-bottom: 40px;
  position: relative;
  font-size: 1.3rem;
 
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul p{
  list-style: none;
  margin-bottom: 12px;
}
.col p a{
  text-decoration: none;
  color: #fff;
  font-size: 1.0rem;

  
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa{
  font-size: 18px;
  margin-right: 10px;
  color: #fff;
}
form input{
  width: 100%;
  background: transparent;
  color: #777;
  border: 0;
  outline: none;
  margin-left: 10px;
  font-size: 1rem;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.social-icons .fa{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.copy{
  text-align: center;
  margin-top: 15px;
}