@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@,100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins',sans-serif;
}

/*logo*/
nav{
    flex-direction: row;

}  
nav img{
    width: 70px;
    cursor: pointer;
    margin-left: 0.5px;
}
  .menu-bar {
    background-color: #fff;
    box-sizing: border-box;
   
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    position: fixed;
  }
  .menu-bar ul {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    margin-left: 30px;
    
    position: relative;
    padding: 10px 20px;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: rgb(9, 82, 57);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color:  rgb(114, 223, 183);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .menu-bar ul li .btn1{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    background-color: rgb(23, 71, 55);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}
.menu-bar ul li  .btn1:hover{
    color: rgb(23, 71, 55);
    background-color: #fff;
}

.menu-bar ul li a:hover{
    color: rgb(43, 48, 47);
}
#home{
  background-image: url("membership.gif");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-top: 40px;

}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {

    margin-top: 30px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 30px;
  }

  .login{
    margin-top: 30px;
  }

  
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #ace28c;
    width: 400;
    height: 400;
    margin-left: 100px;
    margin-right: 100px;
  }

  .card h3{
    text-align: center;
    font-size: 2.2rem;
    margin-top: 40px;
    color: #072117;
    letter-spacing: 1px;
  }

  .card p{
    text-align: center;
    color: rgb(17, 24, 22);
    font-size: 1.1rem;
    margin-top: 50px;
  }

  .btn{
    margin-top: 50px;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 45px;
    background-color:#fff;
    color: #09361d;
    font-weight: 700;
    color: #fff;
    background-color: rgb(8, 31, 25);
   
    border: 3px solid rgb(8, 31, 25);
    position: absolute;
    width: 200px;
    
  
    
}
.btn:hover{
    background-color:#fff;
    color: #09361d;
    border: 3px solid rgb(8, 31, 25);}
  
  

/*footer*/
footer{
    width: 100%;
    position: absolute;
    bottom:auto;
    background: #163427d3;
    color: #fff;
    padding:100px 0 30px ;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 30px;
  
  }
  .row{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
  }
  .col{
    flex-basis: 25%;
    padding: 10px;
  }
  
  footer h2{
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  footer p{
    font-size: 1.0rem;
   
  }
  .col h3{
    width:fit-content ;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.3rem;
   
  }
  .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  ul p{
    list-style: none;
    margin-bottom: 12px;
  }
  .col p a{
    text-decoration: none;
    color: #fff;
    font-size: 1.0rem;
  
    
  }
  form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  form .fa{
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
  }
  form input{
    width: 100%;
    background: transparent;
    color: #777;
    border: 0;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;
  }
  form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .copy{
    text-align: center;
    margin-top: 15px;
  }