@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@,100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
}



/*Nevigationbar*/
/*logo*/
nav{
    flex-direction: row;

}  
nav img{
    width: 70px;
    cursor: pointer;
    margin-left: 0.5px;
}
  .menu-bar {
    background-color: #4e5853;
    box-sizing: border-box;
   
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    position: fixed;
   
  }
  .menu-bar ul {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    margin-left: 30px;
    
    position: relative;
    padding: 10px 20px;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
 
  .menu-bar ul li .btn1{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    background-color: #fff;
    color: #051d19;
    font-weight: 700;
    border-radius: 10px;
}


.container{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    min-height:100vh;
    background-image: url(back6.gif);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.container .content{
    text-align: center;
}

.container .content h3{
    font-size: 30px;
    color: black;
}
.container .content h3 span{
    background-color:  #4e5853;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}
.container .content h1{
  margin-top: 20px;
    font-size: 50px;
    color: black;
}
.container .content h1 span{
    color: rgb(18, 39, 32);
}



