@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@,100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins',sans-serif;
}
/*logo*/
nav{
    flex-direction: row;

}  
nav img{
    width: 70px;
    cursor: pointer;
    margin-left: 0.5px;
}
  .menu-bar {
    background-color: #fff;
    box-sizing: border-box;
   
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    position: fixed;
  }
  .menu-bar ul {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    margin-left: 30px;
    
    position: relative;
    padding: 10px 20px;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: rgb(9, 82, 57);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color:  rgb(114, 223, 183);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .menu-bar ul li .btn1{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    background-color: rgb(23, 71, 55);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}
.menu-bar ul li  .btn1:hover{
    color: rgb(23, 71, 55);
    background-color: #fff;
}

.menu-bar ul li a:hover{
    color: rgb(43, 48, 47);
}

/*home*/
#home{
    background-image: linear-gradient(rgba(39, 40, 39, 0.3), rgba(118, 122, 118, 0.634)),url("animal7.gif");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 40px;

}
#discription{
    margin-top: 25px;
    text-align: center;
}
#discription h2{
    color: rgb(26, 100, 75);;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 30px;
}
#discription p{
    color: rgb(13, 27, 22);
    font-size: 1.1rem;
    margin-top: 15px;
    padding-left: 110px;
    padding-top: 10px;
    padding-right: 110px;
}

/*images*/
.img-gallery h2{
    color: rgb(26, 100, 75);
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 55px;
    text-align: center;
}
.gallery{
    margin: 45px;
    border: 1px solid #ccc;
    float: left;
    width: 280px;
}
.gallery:hover{
    border: 1px solid #777;
}
.gallery img{
    width: 100%;
    height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
}
.desc h3{
    font-size: 1.3rem;
    color: rgb(66, 74, 72);
    margin-top: 5px;
    padding: 13px 0 7px 0;
    text-align: center;
}
