@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@,100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Popins',sans-serif;
}
/*logo*/
nav{
    flex-direction: row;

}  
nav img{
    width: 70px;
    cursor: pointer;
    margin-left: 0.5px;
}
  .menu-bar {
    background-color: #fff;
    box-sizing: border-box;
   
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    position: fixed;
  }
  .menu-bar ul {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    list-style: none;
  }
  .menu-bar ul li {
    margin-left: 30px;
    
    position: relative;
    padding: 10px 20px;
  }
  .menu-bar ul li a {
    font-size: 18px;
    color: rgb(9, 82, 57);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color:  rgb(114, 223, 183);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .menu-bar ul li .btn1{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 18px;
    background-color: rgb(23, 71, 55);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}
.menu-bar ul li  .btn1:hover{
    color: rgb(23, 71, 55);
    background-color: #fff;
}

.menu-bar ul li a:hover{
    color: rgb(43, 48, 47);
}

/*home*/
#home{
    background-image: url("visit2.gif");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 40px;
}

/*about*/
.about-text{
    display: flex;
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    height: 60%;
    backdrop-filter:blur(1px); 
    justify-content: space-between;
    align-items: center;
}

.about{
    justify-content: flex-start;
    padding-left: 50px;
    
}
.about p{
    padding: 10px;
    font-weight: 400;
    backdrop-filter:blur(1px); 
    width: 750px;
    border-radius: 10px;
    line-height: 10px; 
    text-align: justify;
    color: rgb(13, 27, 22);
    font-size: 1.1rem;
    line-height: 25px;
    margin-top: 25px;
    margin-left: 40px;
}
.heading{
    color: rgb(26, 100, 75);
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-left: 250px;
}

/*hours*/
.hours{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 40px;
   
}
.section{
    border: 3px solid rgb(20, 36, 30);
    margin-left: 120px;
    margin-right: 40px;
    height: 100%;
    width: 70%;
}
.section .heading{
    color: #fff;
    background-color: rgb(20, 36, 30) ;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    height: 45px;
    margin-left: 0;
}
.text{
    margin-top: 25px;
    text-align: center;
}
.text h3{
    font-size: 1.3rem;
    color: rgb(77, 80, 79);
    margin-top: 15px;
    padding: 13px 0 7px 0;
    text-align: center;
}
.text h5{
    font-size: 1.2rem;
    color: rgb(20, 36, 30);
    margin-top: 10px;
    padding: 13px 0 7px 0;
    text-align: center;
}
.text p{
    font-size: 1.1rem;
    color:  rgb(13, 27, 22);
    text-align: center;
}

/*container*/
.container{
    background-image: linear-gradient(rgba(24, 24, 24, 0.3), rgba(15, 16, 15, 0.634)),url("visit.gif");
    height: 60%;
    margin-top: 55px;
    background-size: cover;
    background-position: center;
    display: flex;
}
.note-text{
    margin-left: 2%;
    text-align: center;
    margin-top: 95px;
}
.note-text h2{
    color: rgb(235, 237, 237);
    font-size: 2.4rem;
    letter-spacing: 1px;
}
.note-text h3{
    color:rgb(242, 241, 241);
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 50px;
}
.note-text p{
    font-size: 1rem;
    color:  #fff;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    letter-spacing: 1px;

}

/*tickets*/
.tickets h2{
    color: rgb(26, 100, 75);
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-left: 40%;
    margin-top: 65px;
}
.price{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 30px;
}
.table-text{
    margin-left: 100px;
    margin-right: 50px;
}
.table-text h3{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(77, 80, 79);
    margin-top: 15px;
    padding: 13px 0 7px 0;
}
.customer{
    border-collapse: collapse;
    margin-top: 25px;
    width: 100%;
    
}
.customer td, .customer th{
    border: 1px solid #ddd;
    padding: 8px;
}
.customer tr:nth-child(even){
    background-color: rgb(210, 211, 210);

}
.customer tr:hover{
    background-color:rgb(240, 243, 240) ;
}
.customer th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color:rgb(13, 27, 22) ;
    font-weight: 500;
    letter-spacing: 1px;
}

/*Shop*/
.experience{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 30px;

}
.visitors{
    margin-top: 55px;
    margin-bottom: 80px;
}
.visitors h2{
    color: rgb(26, 100, 75);
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-left: 1%;
    margin-top: 65px;
    text-align: center;
}

.shop{
    margin-top: 20px;
    float: left;
    width: 400px;
    height: auto;
    margin-left: 170px;
   

}
.shop h3{
    font-size: 1.3rem;
    color: rgb(77, 80, 79);
    margin-top: 5px;
    text-align: center;
    padding: 13px 0 7px 0;

}
.img p{
    margin-top: 20px;
    font-size: 1.1rem;
    color:  rgb(13, 27, 22);
    letter-spacing: 1px;
    text-align: justify;
    text-decoration: none;
}
.btn{
    margin-top: 20px;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px 35px;
    background-color:rgb(23, 71, 55);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    margin-left:1%;
    position: absolute;
    margin-left: 280px;
}
.btn:hover{
    color: rgb(23, 71, 55);
    background-color: #fff;
}
/*footer*/
footer{
    width: 100%;
    position: absolute;
  bottom: auto;
    background: #163427d3;
    color: #fff;
    padding:100px 0 30px ;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
  
  }
  .row{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
  }
  .col{
    flex-basis: 25%;
    padding: 10px;
  }
  
  footer h2{
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  footer p{
    font-size: 1.0rem;
   
  }
  .col h3{
    width:fit-content ;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.3rem;
   
  }
  .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
  }
  ul p{
    list-style: none;
    margin-bottom: 12px;
  }
  .col p a{
    text-decoration: none;
    color: #fff;
    font-size: 1.0rem;
  
    
  }
  form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
  }
  form .fa{
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
  }
  form input{
    width: 100%;
    background: transparent;
    color: #777;
    border: 0;
    outline: none;
    margin-left: 10px;
    font-size: 1rem;
  }
  form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  .social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .copy{
    text-align: center;
    margin-top: 15px;
  }
  